.logo {
  position: relative;
  margin-inline: auto;
  margin-bottom: 10px;
  width: min-content;
  user-select: none;
}

pre {
  font-family: monospace;
  font-size: min(2rem, 3.2vw);
  line-height: 1.2;
  font-weight: 600;
}


.blur {
  filter: blur(min(7px, 0.6vw));
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
}

.clear {
  margin: 0;
}

.whiteText {
  color: #FFFFFF;
}

.blueText {
  color: #62E2FF;
}

.greenText {
  color: #7DFF81;
}

.purpleText {
  color: #E3B2FF;
}

.pinkText {
  color: #EC8FFF;
}


.blur .blueText {
  color: #00D0FF;
}

.blur .greenText {
  color: #22FF2A;
}

.blur .purpleText {
  color: #C561FF;
}

.blur .pinkText {
  color: #E561FF;
}