@font-face {
  font-family: Consolas;
  font-weight: 400;
  src: local(Consolas), url("/consola.ttf") format("truetype");
}

@font-face {
  font-family: Consolas;
  font-weight: 700;
  src: url("/consolab.ttf") format("truetype");
}


:root {
  --site-width: min(100%, 1040px);
  
  font-family: "Consolas", monospace;
  line-height: 1.5;
  font-weight: 400;

  font-size: 16px;

  color: whitesmoke;
  color-scheme: light dark;
  background-image: linear-gradient(
    to top right,
    #16181B 0%,
    #0A0C10 100%
  );
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  position: relative;
}
/* a:hover {
  content: "";
  position: absolute;
  left: 0px;
} */

body {
  margin: 0;
  min-width: 320px;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: inherit;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.7em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
